h1{
    color: crimson;
}
body {
   background-color: rgba(243, 239, 240, 0.644);
  }
  p {
    color: rgb(199, 109, 109);
  }
  h1 {
    color: rgb(224, 7, 7);
    font-family: verdana;
    font-size: 400%;
  }
  p {
    border: 2px solid powderblue;
  }
  p {
    border: 2px solid powderblue;
    padding: 30px;
  }
  h2{
    color: rgb(204, 201, 47);
  }
  p{
    color: rgb(19, 97, 175);
  }
<b>h1</b>
<strong>p</strong>

  